<ion-header>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map"></div>
  <div class="locate-btn-wrapper" (click)="locateUser()">
    <ion-icon name="locate-outline"></ion-icon>
  </div>
  <!-- Botón flotante de limpiar ubicación -->
  <div class="clear-btn-wrapper" (click)="clearLocation()">
    <ion-icon name="trash-outline"></ion-icon>
  </div>

  <!-- Spinner de carga -->
  <ion-loading
    [isOpen]="isLoading"
    message="Obteniendo Geolocalización..."
    spinner="crescent"
    translucent="true"
    backdropDismiss="false">
  </ion-loading>
  <!-- Datos de GPS -->
  <div class="gps-panel" *ngIf="gpsData">
    <!-- fila Latitud / Longitud -->
    <div class="row">
      <div class="cell">
        <span class="label">Latitud</span>
        <span class="value">{{ gpsData.lat | number:'1.4-4' }}</span>
      </div>
      <div class="cell">
        <span class="label">Longitud</span>
        <span class="value">{{ gpsData.lng | number:'1.4-4' }}</span>
      </div>
    </div>
    <!-- fila Altitud / Velocidad -->
    <div class="row">
      <div class="cell">
        <span class="label">Altitud</span>
        <span class="value">{{ gpsData.alt | number:'1.4-4' }}</span>
      </div>
      <div class="cell">
        <span class="label">Velocidad</span>
        <span class="value">{{ gpsData.vel | number:'1.4-4' }}</span>
      </div>
    </div>
    <!-- fila Horizontal / Vertical -->
    <div class="row">
      <div class="cell">
        <span class="label">Pres. Horizontal</span>
        <span class="value">{{ gpsData.accH | number:'1.4-4' }}</span>
      </div>
      <div class="cell">
        <span class="label">Pres. Vertical</span>
        <span class="value">{{ gpsData.accV | number:'1.4-4' }}</span>
      </div>
    </div>
  </div>
</ion-content>