<ion-header>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map"></div>
  <div class="locate-btn-wrapper" (click)="locateUser()">
    <div class="pulse-halo"></div>
    <ion-icon name="locate-outline"></ion-icon>
  </div>
  <!-- Spinner de carga -->
  <ion-loading
    [isOpen]="isLoading"
    message="Obteniendo Geolocalización..."
    spinner="crescent"
    translucent="true"
    backdropDismiss="false">
  </ion-loading>
  <!-- Datos de GPS -->
  <div class="gps-panel" *ngIf="gpsData">
    <div class="row">
      <div class="label">Latitud</div>
      <div class="value">{{ gpsData.lat | number:'1.4-4' }}</div>
      <div class="label">Longitud</div>
      <div class="value">{{ gpsData.lng | number:'1.4-4' }}</div>
    </div>
    <div class="row">
      <div class="label">Altitud</div>
      <div class="value">{{ gpsData.alt | number:'1.4-4' }}</div>
      <div class="label">Velocidad</div>
      <div class="value">{{ gpsData.vel | number:'1.4-4' }}</div>
    </div>
    <div class="row">
      <div class="label">Horizontal</div>
      <div class="value">{{ gpsData.accH | number:'1.4-4' }}</div>
      <div class="label">Vertical</div>
      <div class="value">{{ gpsData.accV | number:'1.4-4' }}</div>
    </div>
  </div>
</ion-content>