<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Datos del Polígono</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="polygonForm" (ngSubmit)="save()">
    <ion-list>
      <ion-list-header>
        <ion-label>Datos del Participante</ion-label>
      </ion-list-header>

      <ion-item fill="outline">
        <ion-input
          label="DNI"
          label-placement="floating"
          formControlName="dni"
          type="text"
          inputmode="numeric"
          maxlength="8"
          pattern="[0-9]{8}"
          placeholder="Ej: 12345678"
          (input)="onDniInput($event)"
        ></ion-input>
        <ion-note
          slot="end"
          color="danger"
          *ngIf="polygonForm.get('dni')?.invalid && (polygonForm.get('dni')?.dirty || polygonForm.get('dni')?.touched)"
        >
          (Requerido)
        </ion-note>
      </ion-item>

      <ion-item fill="outline">
        <ion-input
          label="Nombres"
          label-placement="floating"
          formControlName="nombres"
          appUppercase
          (ionChange)="onFormChange('nombres')"
        ></ion-input>

        <ion-note
          slot="end"
          color="danger"
          *ngIf="polygonForm.get('nombres')?.invalid && (polygonForm.get('nombres')?.dirty || polygonForm.get('nombres')?.touched)"
          >(Requerido)</ion-note
        >
      </ion-item>

      <ion-item fill="outline">
        <ion-input
          label="Apellido Paterno"
          label-placement="floating"
          formControlName="apellido_paterno"
          appUppercase
          (ionChange)="onFormChange('apellido_paterno')"
        ></ion-input>
        <ion-note
          slot="end"
          color="danger"
          *ngIf="polygonForm.get('apellido_paterno')?.invalid && (polygonForm.get('apellido_paterno')?.dirty || polygonForm.get('apellido_paterno')?.touched)"
          >(Requerido)</ion-note
        >
      </ion-item>

      <ion-item fill="outline">
        <ion-input
          label="Apellido Materno"
          label-placement="floating"
          formControlName="apellido_materno"
          appUppercase
          (ionChange)="onFormChange('apellido_materno')"
        ></ion-input>
        <ion-note
          slot="end"
          color="danger"
          *ngIf="polygonForm.get('apellido_materno')?.invalid && (polygonForm.get('apellido_materno')?.dirty || polygonForm.get('apellido_materno')?.touched)"
          >(Requerido)</ion-note
        >
      </ion-item>

      <ion-item fill="outline">
        <ion-input
          label="Fecha de Nacimiento"
          label-placement="floating"
          formControlName="fecha_de_nacimiento"
          type="date"
        ></ion-input>
        <ion-note
          slot="end"
          color="danger"
          *ngIf="polygonForm.get('fecha_de_nacimiento')?.invalid && (polygonForm.get('fecha_de_nacimiento')?.dirty || polygonForm.get('fecha_de_nacimiento')?.touched)"
          >(Requerido)</ion-note
        >
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label>Datos de la Parcela</ion-label>
      </ion-list-header>

      <ion-item fill="outline">
        <ion-input
          label="Organización"
          label-placement="floating"
          formControlName="organizacion"
          appUppercase
          (ionChange)="onFormChange('organizacion')"
        ></ion-input>
        <ion-note
          slot="end"
          color="danger"
          *ngIf="polygonForm.get('organizacion')?.invalid && (polygonForm.get('organizacion')?.dirty || polygonForm.get('organizacion')?.touched)"
          >(Requerido)</ion-note
        >
      </ion-item>

      <ion-item fill="outline">
        <ion-input
          label="Participante"
          label-placement="floating"
          formControlName="participante"
          appUppercase
          (ionChange)="onFormChange('participante')"
        ></ion-input>
        <ion-note
          slot="end"
          color="danger"
          *ngIf="polygonForm.get('participante')?.invalid && (polygonForm.get('participante')?.dirty || polygonForm.get('participante')?.touched)"
          >(Requerido)</ion-note
        >
      </ion-item>

      <ion-item fill="outline">
        <ion-input
          label="Cultivo"
          label-placement="floating"
          formControlName="cultivo"
          appUppercase
          (ionChange)="onFormChange('cultivo')"
        ></ion-input>
        <ion-note
          slot="end"
          color="danger"
          *ngIf="polygonForm.get('cultivo')?.invalid && (polygonForm.get('cultivo')?.dirty || polygonForm.get('cultivo')?.touched)"
          >(Requerido)</ion-note
        >
      </ion-item>
    </ion-list>

    <ion-button expand="full" type="submit" [disabled]="!polygonForm.valid">
      Guardar
    </ion-button>
  </form>
</ion-content>
